<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Booltsapp</title>
</head>

<body class="bg">


    <div id="app">

        <div class="mainSx">
            <header class="userListHeader">
                <div class="flexCentereHeaderSx">
                    <div class="imgNameHeader"> <img src="./img/avatar_io.jpg" alt="io" class="ioImg">
                        <span> Sofia</span>
                    </div>
                    <span class="icons gray"> <i class="fa-solid fa-circle-notch"></i> <i
                            class="fa-solid fa-message"></i> <i class="fa-solid fa-ellipsis-vertical"></i></span>
                </div>
            </header>
            <!--notifiche-->
            <div class="notify">
                <div class="bell"><i class="fa-solid fa-bell-slash"></i></div>
                <div class="flexColumn">
                    <div>Ricevi notifiche di nuovi messaggi</div> <br>
                    <span><a href="#" class="gray">Attiva notifiche desktop</a></span>
                </div>

            </div>
            <!--input cerca-->
            <div class="inputSearch">
                <input type="text"  id="search" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @keyup.enter="search()">
            </div>
            <div class="mainMessage">
                <!--lista messaggi-->
                <div v-for="(contact, index) in contacts" class="user" @click="liveConversation(index)">
                    <div class="leftUser">
                        <div class="imgUser"> <img :src="contact.avatar" alt=""> </div>
                        <span> {{contact.name}} <br> <span class="lastMessage gray">Ultimo messaggio
                                inviato</span></span>
                    </div>
                    <div class="rigthUser">
                        <span class="time gray">12:00</span>
                    </div>
                </div>
            </div>
        </div>
        <!--parte destra-->
        <div class="mainDx">
            <header class="userListHeader" >
                <div class="flexCentereHeaderSx">
                    <div class="imgNameHeader"> <img :src="contacts[activeImg].avatar" alt="io" class="ioImg">
                        <span >{{contacts[activeImg].name}} <br>
                            <span class="lastMessage gray">Ultimo messaggio
                                inviato alle: 12</span>
                        </span>
                    </div>
                    <span class="icons gray"> <i class="fa-solid fa-circle-notch"></i> <i
                            class="fa-solid fa-message"></i> <i class="fa-solid fa-ellipsis-vertical"></i></span>
                </div>
            </header>
            <!--pagina conversazione-->
            <div class="conversation">
                <div v-for="mex in contacts[activeImg].messages" :class="mex.status == 'sent' ? 'f-e': 'f-s'">
                    <div :class="mex.status == 'sent' ? 'mexUser' : 'mexPc'">{{mex.message}}
                        <span class="gray">{{mex.date}}</span>
                    </div>  
                  
                </div>  
                <span v-if="displayMessage"></span>
            </div>
            <div class="typeMessage">
                <i class="fa-solid fa-face-laugh"></i>
                <!--input messaggio-->
                 <input  v-model="writeMex"  type="text" placeholder="Scrivi un messaggio" id="typeMessage" @keyup.enter="addItem" keyup.enter="response"><i class="fa-solid fa-paperclip"></i>
            </div>
        </div>


    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>